<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>formDemo.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>Form Demo</h1>
    <form action="/dropdown_x">
       <fieldset>
          <legend>Selecting elements</legend>
          <p>
             <label>Select list</label>
             <select name="df_variable1">
                {% for each in dropdown_fields %}
                  <option value="{{each}}">{{each}}</option>
                {% endfor %}
                </select>
          </p>
       </fieldset>
    </form>
    <form action="/dropdown_y">
        <fieldset>
           <legend>Selecting elements</legend>
           <p>
              <label>Select list</label>
              <select name="df_variable2">
                 {% for each in dropdown_fields %}
                   <option value="{{each}}">{{each}}</option>
                 {% endfor %}
                 </select>
           </p>
        </fieldset>
     </form>
     <button type="submit" class="btn btn-default" action="/regrplot" value="Submit"></button>
  </body>
</html>