<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">EDUCATION
              <img class="nav-ufo" src="static/images/logo.png">
            </a>
          </div>
        </div>
      </nav>
      <div class="hero text-center">
        <h1>Education Data Visualization</h1>
        <p>The Truth is Out There</p>
      </div>
      <div class="container">
        <div class="row margin-top-50">
          <div class="col-md-2">
            <aside class="filters">
              <div class="panel panel-default">
                <div class="panel-heading">Other Visualization</div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                        <div class="jumbotron">
                            <a href="/" class="btn btn-primary" role="button">Home Page</a>

                    </div>
                  </form>
                  <form action='/weeks' method ='POST' >
                    <div class="form-group">
                      <ul class="list-group" id="filters">
                        <li class="filter list-group-item">
                          <label for="date">Enter a Date</label>
                          <input class="form-control" id="datetime" type="text" placeholder="2010" name='yr'>
                          <button id="filter-btn-date" type="submit" value="submit" class="btn btn-default">Check JSON Data</button>
                        </li>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-md-10">
            <div id="plot">
              <h1>New York Times Best Sellers and Amazon Book Data</h1>
              <h2>Hardcover Fiction Best Sellers from 2008 to 2018</h2>
              <br>
              <h3>Source</h3>
              
                <br>
              <div id="line"></div>
                <div id="line2"></div>
                <p></p>
                <div id="line3"></div>
                <p></p>
                <div id="line4"></div>
                <p></p>
                <div id="line5"></div>
                <p></p>
              
                <script>
                  d3.json('/asian').then(function(data) {
                    var layout = { margin: { t: 0 } }
                    var LINE = document.getElementById('line');
                    
                    var layout={
                      title: 'High School Graduation % Among Asian Students',
                      xaxis:{title:'Year'},
                      yaxis:{title:'High School Graduation Rate'}
                  };
                    Plotly.plot(LINE, data, layout);
                  
                });
              
                d3.json('/hispanic').then(function(data) {
                    var layout2 = { margin: { t: 0 } }
                    var LINE2 = document.getElementById('line2');
                    
                    var layout2={
                      title: 'High School Graduation % Among Hispanic Students',
                      xaxis:{title:'Year'},
                      yaxis:{title:'High School Gradutation Rate'}
                  };
                  
                    Plotly.plot(LINE2, data, layout2)
                });
              
              d3.json('/black').then(function(data) {
                var layout3 = { margin: { t: 0 } }
                var LINE3 = document.getElementById('line3');
              
                var layout3={
                  title: 'High School Graduation % Among African-American Students',
                  xaxis:{title:'Year'},
                  yaxis:{title:'High School Gradutation Rate'}
                };
              
                    Plotly.plot(LINE3, data, layout3)
              });
              
              d3.json('/white').then(function(data) {
                var layout4 = { margin: { t: 0 } }
                var LINE4 = document.getElementById('line4');
              
                var layout4={
                  title: 'High School Graduation % Among White Students',
                  xaxis:{title:'Year'},
                  yaxis:{title:'High School Gradutation Rate'}
                };
              
                    Plotly.plot(LINE4, data, layout4)
              });
              
              d3.json('/college').then(function(data) {
                var layout5 = { margin: { t: 0 } }
                var LINE5 = document.getElementById('line5');
                var layout5={
                  title: 'Percentage of Students who Enrolled in College by Race',
                  xaxis:{title:'Year'},
                  yaxis:{title:'College Enrollment %'}
                };
                    Plotly.plot(LINE5, data, layout5)
              });
                </script>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <span class="bottom">EDUCATION</span>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

  </body>

</html>
