<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Education Data Visualization</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div id="line"></div>
  <div id="line2"></div>
  <div id="line3"></div>
  <div id="line4"></div>
  <div id="line5"></div>

  <script>
    d3.json('/asian').then(function(data) {
      var layout = { margin: { t: 0 } }
      var LINE = document.getElementById('line');
      
      var layout={
        title: 'High School Graduation % Among Asian Students',
        xaxis:{title:'Year'},
        yaxis:{title:'High School Graduation Rate'}
    };
      Plotly.plot(LINE, data, layout);
    
  });

  d3.json('/hispanic').then(function(data) {
      var layout2 = { margin: { t: 0 } }
      var LINE2 = document.getElementById('line2');
      
      var layout2={
        title: 'High School Graduation % Among Hispanic Students',
        xaxis:{title:'Year'},
        yaxis:{title:'High School Gradutation Rate'}
    };
    
      Plotly.plot(LINE2, data, layout2)
  });

d3.json('/black').then(function(data) {
  var layout3 = { margin: { t: 0 } }
  var LINE3 = document.getElementById('line3');

  var layout3={
    title: 'High School Graduation % Among African-American Students',
    xaxis:{title:'Year'},
    yaxis:{title:'High School Gradutation Rate'}
  };

      Plotly.plot(LINE3, data, layout3)
});

d3.json('/white').then(function(data) {
  var layout3 = { margin: { t: 0 } }
  var LINE3 = document.getElementById('line4');

  var layout3={
    title: 'High School Graduation % Among White Students',
    xaxis:{title:'Year'},
    yaxis:{title:'High School Gradutation Rate'}
  };

      Plotly.plot(LINE4, data, layout4)
});

d3.json('/college').then(function(data) {
  var layout5 = { margin: { t: 0 } }
  var LINE5 = document.getElementById('line5');
  var layout5={
    title: 'Percentage of Students who Enrolled in College by Race',
    xaxis:{title:'Year'},
    yaxis:{title:'College Enrollment %'}
  };
      Plotly.plot(LINE5, data, layout5)
});
  </script>
</body>

</html>
